.feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.feedback-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.feedback-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.feedback-content button {
    background-color: #66cfff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.feedback-content button:hover {
    background-color: #0073a1;
}

.dark-mode.feedback-content {
    background-color: #333;
    color: black;
}